<footer class="bg-light py-5" style="background-color: #36393f!important">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy; 2022 - Allegoria Network, a service provided by <a href="https://green-bot.app">Green-bot Developement</a><br><br>
            <h6>Useful links</h6><br><a href="/temrs">• Terms of service</a> | <a href="/discord">• Support server</a> | <a href="/appeals">• Ban appeals</a>
</footer>